.heading
{
width: 100%;
text-align: center;
font-style: italic;
font-family: 'Times New Roman', Times, serif;
font-weight: 400;
border-radius: 5px;
border-color: aquamarine;
border-width: 2px;


}
.heading h3{
    display: inline;
    
}

.heading button{
    float: right;
    border: 1px solid white;
}

#start ,#status, #restart
{
font-size: 22px;
font-style: 19px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-style: italic;
}

.modal-dialog
{
    width: 70%;
}
.modal-body
{
    text-align: left;
    font-size: 20px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;

}
h4
{
   background-color: rgb(238, 167, 217);
   color:white;
   line-height: 2;
   border-width:2px;
   border-color: red;
   border-radius: 5px;
   font-size: 19px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-style: italic;
}
canvas 
  {
      border:3px solid white;
      border-radius: 20px;
      box-shadow:  5px 5px 5px white;
  }